/*.logo{*/
/*	width: 100px;
}
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;*/
	/*background-color: black;
/*}
.navigation-ul{
	display: flex;
	list-style-type: none;
}
a{
	font-size: 30px;
	color: red;
	text-decoration: none !important;

}
.navigation-li{
	margin-right: 10px;
}*/
/*.satauri{
	padding-top: 40px;
}*/
.satauri:nth-child(3) h2{
	color: red;
	font-size: 25px;
	background-color: green;
}
.satauri:first-child h2{
	color: blue;
	background-color: yellow;
	
}
img{
	width: 250px;
	

}
.image-wraper{
	margin-right: 30px;
	float: left;
}
.image-wraper:last-child{
	margin-right: 0px;
}
.bg{
	background-image:url(../img/image.jpg);
	width: 1140px;
	height: 800px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.navigation-li{
	margin-right: 30px;
}
.header{
position: fixed;
width: 100%;
top: 0;
left: 0;	
}
.wrapper{
	padding-top: 40px;
}
